[submodule "ProtoPromise"]
	path = ProtoPromise
	url = https://github.com/timcassell/ProtoPromise.git
[submodule "UniTask"]
	path = UniTask
	url = https://github.com/Cysharp/UniTask.git
[submodule "RSGPromise"]
	path = RSGPromise
	url = https://github.com/Real-Serious-Games/C-Sharp-Promise.git
